body {
  background-color: #fff8f1;
  margin: 0px;
}

/* Hero anner style */
.hero-banner-kontakt {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("Assets/images/istockphoto-1250060339-612x612.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  height: 100vh;
  background-position: bottom center;
}

/* H1 style hero */
.hero-content-kontakt h1 {
  font-size: 45px;
  font-weight: bold;
  margin: 0;
}

/* Paragraf style hero  */
.hero-content-kontakt p {
  font-size: 20px;
  margin: 10px;
}

.hero-content-kontakt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  text-align: center;
  padding: 20px;
  color: white;
}

/* grid style*/

.information {
  padding: 40px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

.grid-item {
  padding: 10px;
  color: #5c5351;
}

.grid-item:nth-child(1) {
  grid-column: 2 / span 2;
}

.grid-item:nth-child(2) {
  grid-column: 4 / span 2;
}

.grid-item:nth-child(3) {
  grid-column: 6 / span 2;
}
