// imports
@import "_index";
@import "_about";
@import "_services";
@import "_eksperterne";
@import "_kontakt";

// generalle styles
body {
  margin: 0%;
}

.main-margin {
  margin: 0 10rem;
}

.white-text {
  color: #ffffff;
}

//  Header styling
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333333;
}
header nav svg {
  width: 200px;
  height: 100px;
  margin-left: 4rem;
}
header nav .nav-links {
  display: flex;
  gap: 2rem;
  margin-right: 1.5rem;
  margin: 0 8rem;
}
header nav .nav-links li {
  list-style-type: none;
}
header nav .nav-links li a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 300;
  font-size: 1.5rem;
}
header nav .nav-links li a:hover {
  color: beige;
}

//  Footer styling

.center-content {
  display: flex;
  justify-content: center;
}

.footer-kontakt-box {
  background-image: url(../Images/PotteBaggrund.png);
}

.footer-kontakt-flex {
  /* margin-top: 12rem; */
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: space-between;
}

.footer-kontakt-left {
  max-width: 50%;
}

.footer-kontakt-flex p {
  margin: 0.25rem 0 0 0;
  max-width: 85%;
  padding-inline-start: 0.5rem;
  font-size: 1.2rem;
}

.footer-kontakt-flex h2 {
  margin: 2rem 0 0 0;
  max-width: 100%;
  font-size: 2.5rem;
}

.footer-kontakt-flex .åbningstider {
  margin: 2rem 0 0.2rem 0;
  max-width: 90%;
  font-size: 2.5rem;
}

.footer-kontakt-flex ol {
  margin-top: 0.5rem;
  padding-inline-start: 2rem;
}

.footer-kontakt-form {
  border-radius: 5px;
  max-width: 40%;
}

form {
  background-color: #fff8f1;
  margin: 3rem 0 5rem 0;
  max-height: 60%;
  max-width: 70%;
  padding: 1rem;
  border-radius: 0.75rem;
}

input[type="text"] {
  width: 95%;
  padding: 5%;
  margin: 4% 3%;
  box-sizing: border-box;
  border: black;
  resize: vertical;
  border-radius: 1em;
  background-color: #fff8f1;
  filter: drop-shadow(0 0.4rem 0.35rem grey);
}

textarea {
  width: 95%;
  padding: 5%;
  margin: 4% 3%;
  background-color: #fff8f1;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
  height: 10em;
  border-radius: 1em;
  filter: drop-shadow(0 0.4rem 0.35rem grey);
}

input[type="submit"] {
  width: 95%;
  padding: 2.5% 0;
  background-color: #5c5351;
  color: white;
  border: none;
  border-radius: 0.5rem;
  margin: 4% 3%;
  cursor: pointer;
  filter: drop-shadow(0 0.4rem 0.35rem grey);
}

input[type="submit"]:hover {
  background-color: #8d7f7c;
}

.doner-banner {
  background-image: url(../Images//caucasian-woman-with-closed-eyes-2560159.jpg);
  height: 12rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 -100px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  font-size: 2rem;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  /* filter: blur(4px); */
  filter: grayscale(30%);
  border-radius: 10px 10px 0 0;
}

.doner-banner button {
  max-height: 40%;
  height: 25%;
  width: 15%;
  background-color: #5c5351;
  color: #fff8f1;
  font-size: 2rem;
  font-weight: bold;
  border-radius: 15px;
  border: none;
}

footer {
  height: 22rem;
  background-color: #333333;
  font-size: 1.2rem;
  max-width: 100vw;
}

footer h2 {
  font-size: 2rem;
  font-weight: 900;
}

.footer-grid {
  display: grid;
  grid-template-columns: 35% 1fr 1fr;
  align-items: center;
  justify-items: center;
  max-height: 25rem;
}

footer ul {
  padding-inline-start: 0;
}

footer li {
  display: block;
  list-style-type: none;
  margin-top: 0.6rem;
}

footer h2 {
  display: flex;
  align-items: center;
  color: #ddd;
}

.footer-list-style {
  margin-top: 0.95rem;
}

footer a {
  text-decoration: none;
  color: #ddd;
}

footer img {
  height: auto;
  width: 18rem;
  margin-left: 7rem;
  margin-top: 2.5rem;
}

.footer-sections {
  margin-top: 2rem;
  max-height: 12rem;
  margin-left: -10rem;
}

.opening-hours-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  margin-top: -2rem;
  max-height: 12rem;
  color: #ddd;
}

.contact-info-footer {
  color: #ddd;
}

.footer-logo-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 2rem;
}

.footer-logo svg {
  height: 200px;
  margin-top: 2rem;
}

.menu-section-footer {
  margin-top: 2rem;
  max-height: 12rem;
}
