@charset "UTF-8";
.page_banner_about {
  padding: 60px;
  text-align: center;
  background-image: url(/assets/img/Promotion-Page_Banner-Desktop_Evergreen.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: white;
  font-size: 30px;
  height: 957px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-row-start: 1;
  grid-row-end: 1;
}
.page_banner_about h1 {
  color: white;
  text-align: center;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Merriweather", serif;
}
.page_banner_about p {
  text-align: center;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: "Raleway", sans-serif;
}

.hvem_container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-row-start: 2;
  grid-row-end: 2;
  margin: 1% 1% 1% 1%;
}
.hvem_container img {
  width: 70%;
  grid-column-start: 2;
  grid-column-end: 3;
  border-radius: 2.5%;
  margin-left: 25%;
}
.hvem_container article {
  grid-column-start: 3;
  grid-column-end: 4;
  width: 500px;
}
.hvem_container article h2 {
  font-family: "Merriweather", serif;
}
.hvem_container article p {
  font-family: "Raleway", sans-serif;
}

.engegement_container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-row-start: 3;
  grid-row-end: 3;
  background-image: url(/assets/img/pexels-phil-kallahar-983200.png);
  color: white;
  margin-top: 1%;
  margin-bottom: 1%;
  height: 800px;
  position: relative;
}
.engegement_container .infocol {
  grid-column-start: 1;
  grid-column-end: 1;
  width: 700px;
  margin-left: 10%;
  margin-top: 10%;
}
.engegement_container .infocol h2 {
  font-family: "Merriweather", serif;
}
.engegement_container .infocol p {
  font-family: "Raleway", sans-serif;
}
.engegement_container .imgcol {
  grid-column-start: 4;
  grid-column-end: 4;
}
.engegement_container .pet_1 {
  color: azure;
  width: 300px;
  height: 210px;
  border-radius: 3%;
  position: absolute;
  top: 30%;
  left: 70%;
  transform: translate(-60%, -60%);
}
.engegement_container .pet_2 {
  color: azure;
  width: 300px;
  height: 210px;
  border-radius: 3%;
  position: absolute;
  top: 45%;
  left: 80%;
  transform: translate(-60%, -60%);
}
.engegement_container .pet_3 {
  color: azure;
  width: 300px;
  height: 210px;
  border-radius: 3%;
  position: absolute;
  top: 60%;
  left: 70%;
  transform: translate(-60%, -60%);
}

.team_container {
  color: black;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-row-start: 4;
  grid-row-end: 4;
  padding: 1%;
}
.team_container h2 {
  text-align: center;
  grid-column-start: 2;
  grid-column-end: 3;
  font-family: "Merriweather", serif;
}
.team_container .art1 {
  grid-column-start: 1;
  grid-column-end: 1;
  width: 400px;
  background-color: #333333;
  color: white;
  padding-bottom: 1%;
  padding-left: 1%;
  padding-right: 1%;
  border-radius: 3%;
}
.team_container .art1 img {
  width: 400px;
}
.team_container .art1 h3 {
  font-family: "Merriweather", serif;
  text-align: center;
}
.team_container .art1 p {
  font-family: "Raleway", sans-serif;
}

.reviews_container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-row-start: 5;
  grid-row-end: 5;
  background-image: url(/assets/img/Promotion-Page_Banner-Desktop_Evergreen.png);
  color: white;
  height: 500px;
}
.reviews_container h2 {
  grid-column-start: 2;
  grid-column-end: 3;
  text-align: center;
  font-family: "Merriweather", serif;
}
.reviews_container p {
  grid-column-start: 2;
  grid-column-end: 3;
  text-align: center;
  font-family: "Raleway", sans-serif;
}
.reviews_container img {
  grid-column-start: 2;
  grid-column-end: 2;
  border-radius: 50%;
  width: 90px;
  margin-left: 48%;
}
.reviews_container h3 {
  grid-column-start: 2;
  grid-column-end: 3;
  text-align: center;
  font-family: "Merriweather", serif;
}

.form_container_about {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-row-start: 6;
  grid-row-end: 6;
  color: white;
  background-image: url(/assets/img/pexels-phil-kallahar-983200.png);
  height: 800px;
}
.form_container_about .info_col {
  grid-column-start: 2;
  grid-column-end: 3;
  width: 600px;
}
.form_container_about .info_col h2 {
  font-family: "Merriweather", serif;
  font-size: 3rem;
}
.form_container_about .info_col h3 {
  font-family: "Merriweather", serif;
  font-size: 2rem;
}
.form_container_about .info_col ul {
  font-family: "Raleway", sans-serif;
  list-style: none;
}
.form_container_about .info_col p {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
}
.form_container_about .contact_col {
  margin-top: 10%;
  margin-bottom: 10%;
  grid-column-start: 4;
  grid-column-end: 3;
  background-color: white;
  width: 300px;
  height: 400px;
  padding: 10% 5% 10% 5%;
  border-radius: 3%;
}
.form_container_about .contact_col input {
  width: 95%;
  height: 10%;
  box-shadow: 1px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  font-family: "Raleway", sans-serif;
  text-align: center;
}
.form_container_about .contact_col textarea {
  width: 91%;
  height: 50%;
  padding: 5% 0% 0% 5%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  font-family: "Raleway", sans-serif;
}
.form_container_about .contact_col button {
  width: 100%;
  height: 15%;
  background-color: #5C5351;
  color: white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-size: 2rem;
  font-family: "Raleway", sans-serif;
}
.form_container_about .donate {
  background-image: url(/assets/img/donation-help-charity-750x350.jpg);
  border-radius: 25px 25px 0px 0px;
  position: fixed;
  left: 25%;
  bottom: -2%;
  text-align: center;
  height: 7%;
  width: 50%;
  font-family: "Merriweather", serif;
}
.form_container_about .donate li {
  margin-left: 1%;
  display: inline-block;
}
.form_container_about .donate button {
  padding: 20%;
  background-color: #5C5351;
  color: white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-size: 1rem;
  font-weight: bolder;
}

.page_banner_sevices {
  padding: 60px;
  text-align: center;
  background-image: url(/assets/img/Promotion-Page_Banner-Desktop_Evergreen.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: white;
  font-size: 30px;
  height: 957px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-row-start: 1;
  grid-row-end: 1;
}
.page_banner_sevices h1 {
  color: white;
  text-align: center;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Merriweather", serif;
}
.page_banner_sevices p {
  text-align: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: "Raleway", sans-serif;
}

.adoption_container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-row-start: 2;
  grid-row-end: 2;
  margin: 0% 0% 0% 0%;
  position: relative;
  height: 950px;
}
.adoption_container article {
  position: absolute;
  grid-column-start: 3;
  grid-column-end: 4;
  box-shadow: 10px 10px 5px;
  padding: 3%;
  width: 80%;
  height: 60%;
  border-radius: 3%;
  background-color: white;
  top: 75%;
  left: 50%;
  transform: translate(-60%, -60%);
  border-style: ridge none none ridge;
}
.adoption_container article h3 {
  font-size: 40px;
  font-family: "Merriweather", serif;
}
.adoption_container article p {
  font-family: "Raleway", sans-serif;
}
.adoption_container article button {
  margin: 2% 0% 0% 0%;
  padding: 2% 5% 2% 5%;
  border-radius: 8px;
  background-color: #5C5351;
  font-family: "Raleway", sans-serif;
  color: white;
}
.adoption_container img {
  position: absolute;
  background-color: black;
  border-radius: 2.5%;
  width: 60%;
  height: 80%;
  grid-column-start: 1;
  grid-column-end: 3;
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%);
}

.animal_container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-row-start: 2;
  grid-row-end: 2;
  margin: 2% 2% 0% 2%;
}
.animal_container h2 {
  grid-column-start: 2;
  grid-column-end: 2;
  font-family: "Merriweather", serif;
  font-size: xx-large;
}
.animal_container .post_animal1 {
  grid-column-start: 1;
  grid-column-end: 2;
  background-color: #333333;
  border-radius: 20px 20px 15px 15px;
  color: white;
  max-width: 475px;
  height: 750px;
  margin: 0% 0% 5% 0%;
}
.animal_container .post_animal1 img {
  border-radius: 20px 20px 0px 0px;
}
.animal_container .post_animal1 h3 {
  margin: 1% 0% 0% 5%;
  font-family: "Merriweather", serif;
}
.animal_container .post_animal1 p {
  margin: 1% 0% 0% 5%;
  font-family: "Raleway", sans-serif;
}
.animal_container .post_animal1 .icon_row {
  margin: 5% 0% 0% 5%;
}
.animal_container .post_animal1 .icon_row print {
  margin: 0% 10% 0% 10%;
}
.animal_container .post_animal1 button {
  margin: 1% 0% 0% 5%;
  padding: 3%;
  background-color: white;
  color: black;
  border-radius: 15px;
}
.animal_container .post_animal2 {
  grid-column-start: 2;
  grid-column-end: 2;
  background-color: #333333;
  border-radius: 20px 20px 15px 15px;
  color: white;
  max-width: 475px;
  height: 750px;
  margin: 0% 0% 5% 0%;
}
.animal_container .post_animal2 img {
  border-radius: 20px 20px 0px 0px;
}
.animal_container .post_animal2 h3 {
  margin: 1% 0% 0% 5%;
  font-family: "Merriweather", serif;
}
.animal_container .post_animal2 p {
  margin: 1% 0% 0% 5%;
  font-family: "Raleway", sans-serif;
}
.animal_container .post_animal2 .icon_row {
  margin: 5% 0% 0% 5%;
}
.animal_container .post_animal2 .icon_row print {
  margin: 0% 10% 0% 10%;
}
.animal_container .post_animal2 button {
  margin: 1% 0% 0% 5%;
  padding: 3%;
  background-color: white;
  color: black;
  border-radius: 15px;
}
.animal_container .post_animal3 {
  grid-column-start: 3;
  grid-column-end: 3;
  background-color: #333333;
  border-radius: 20px 20px 15px 15px;
  color: white;
  max-width: 475px;
  height: 750px;
  margin: 0% 0% 5% 0%;
}
.animal_container .post_animal3 img {
  border-radius: 20px 20px 0px 0px;
}
.animal_container .post_animal3 h3 {
  margin: 1% 0% 0% 5%;
  font-family: "Merriweather", serif;
}
.animal_container .post_animal3 p {
  margin: 1% 0% 0% 5%;
  font-family: "Raleway", sans-serif;
}
.animal_container .post_animal3 .icon_row {
  margin: 5% 0% 0% 5%;
}
.animal_container .post_animal3 .icon_row print {
  margin: 0% 10% 0% 10%;
}
.animal_container .post_animal3 button {
  margin: 1% 0% 0% 5%;
  padding: 3%;
  background-color: white;
  color: black;
  border-radius: 15px;
}

.pention_container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-row-start: 4;
  grid-row-end: 4;
  margin: 0% 0% 2% 0%;
  position: relative;
  height: 900px;
}
.pention_container article {
  position: absolute;
  grid-column-start: 3;
  grid-column-end: 4;
  box-shadow: 10px 10px 5px;
  padding: 3%;
  width: 80%;
  height: 560px;
  border-radius: 3%;
  background-color: white;
  top: 70%;
  left: -50%;
  transform: translate(-60%, -60%);
  border-style: ridge none none ridge;
}
.pention_container article h3 {
  font-size: 40px;
  font-family: "Merriweather", serif;
}
.pention_container article p {
  font-family: "Raleway", sans-serif;
}
.pention_container article button {
  margin: 0% 0% 0% 0%;
  padding: 2% 5% 2% 5%;
  border-radius: 8px;
  background-color: #5C5351;
  font-family: "Raleway", sans-serif;
  color: white;
}
.pention_container img {
  position: absolute;
  background-color: black;
  border-radius: 2.5%;
  width: 550px;
  height: 600px;
  grid-column-start: 1;
  grid-column-end: 3;
  top: 35%;
  left: 100%;
  transform: translate(-50%, -50%);
  margin-top: 5%;
}

.adfærd_container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-row-start: 5;
  grid-row-end: 5;
  margin: 0% 0% 5% 0%;
  position: relative;
  height: 950px;
}
.adfærd_container article {
  position: absolute;
  grid-column-start: 3;
  grid-column-end: 4;
  box-shadow: 10px 10px 5px;
  padding: 3%;
  width: 80%;
  height: 60%;
  border-radius: 3%;
  background-color: white;
  top: 75%;
  left: 50%;
  transform: translate(-60%, -60%);
  border-style: ridge none none ridge;
}
.adfærd_container article h3 {
  font-size: 40px;
  font-family: "Merriweather", serif;
}
.adfærd_container article p {
  font-family: "Raleway", sans-serif;
}
.adfærd_container article button {
  margin: 2% 0% 0% 0%;
  padding: 2% 5% 2% 5%;
  border-radius: 8px;
  background-color: #5C5351;
  font-family: "Raleway", sans-serif;
  color: white;
}
.adfærd_container img {
  position: absolute;
  background-color: black;
  border-radius: 2.5%;
  width: 60%;
  height: 80%;
  grid-column-start: 1;
  grid-column-end: 3;
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%);
}

.form_container_services {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-row-start: 6;
  grid-row-end: 6;
  color: white;
  background-image: url(/assets/img/pexels-phil-kallahar-983200.png);
  height: 800px;
}
.form_container_services .info_col {
  grid-column-start: 2;
  grid-column-end: 3;
  width: 600px;
}
.form_container_services .info_col h2 {
  font-family: "Merriweather", serif;
  font-size: 3rem;
}
.form_container_services .info_col h3 {
  font-family: "Merriweather", serif;
  font-size: 2rem;
}
.form_container_services .info_col ul {
  font-family: "Raleway", sans-serif;
  list-style: none;
}
.form_container_services .info_col p {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
}
.form_container_services .contact_col {
  margin-top: 10%;
  margin-bottom: 10%;
  grid-column-start: 4;
  grid-column-end: 3;
  background-color: white;
  width: 300px;
  height: 400px;
  padding: 10% 5% 10% 5%;
  border-radius: 3%;
}
.form_container_services .contact_col input {
  width: 95%;
  height: 10%;
  box-shadow: 1px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  font-family: "Raleway", sans-serif;
  text-align: center;
}
.form_container_services .contact_col textarea {
  width: 91%;
  height: 50%;
  padding: 5% 0% 0% 5%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  font-family: "Raleway", sans-serif;
}
.form_container_services .contact_col button {
  width: 100%;
  height: 15%;
  background-color: #5C5351;
  color: white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-size: 2rem;
  font-family: "Raleway", sans-serif;
}
.form_container_services .donate {
  background-image: url(/assets/img/donation-help-charity-750x350.jpg);
  border-radius: 25px 25px 0px 0px;
  position: fixed;
  left: 25%;
  bottom: -2%;
  text-align: center;
  height: 7%;
  width: 50%;
  font-family: "Merriweather", serif;
}
.form_container_services .donate li {
  margin-left: 1%;
  display: inline-block;
}
.form_container_services .donate button {
  padding: 20%;
  background-color: #5C5351;
  color: white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-size: 1rem;
  font-weight: bolder;
}

body {
  margin: 0%;
}/*# sourceMappingURL=style.css.map */