@charset "UTF-8";
/* ------------------------Banner-------------------------------- */
.hero-banner-img {
  background-image: url(../Images/eric-ward-ISg37AI2A-s-unsplash.jpg);
  height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 -400px;
  filter: blur(2px) brightness(70%);
}

.hero-banner-content {
  color: white;
  font-weight: bold;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  text-align: center;
}

.hero-banner-content h1 {
  font-size: 4rem;
}

.hero-banner-content h4 {
  font-size: 1.5rem;
  width: 70%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.arrow-down-banner {
  color: white;
  margin-top: 10rem;
}

/* ---------------------------Introduktion Index ------------------*/
.index-introduction-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5rem 0 5rem 0;
  color: #38291f;
}

.index-introduction-text {
  max-width: 50%;
}

.index-introduction-text h2 {
  font-size: 3rem;
  margin: -5rem 0 1.5rem 0;
}

.index-introduction-text p {
  font-size: 1.5rem;
  margin-top: 0;
  /* max-width: 90%; */
}

.index-introduction-image img {
  max-height: 350px;
  width: 100%;
  border-radius: 20px;
}

/* ------------------------Index tjenester----------------------- */
.index-tjenester-logo-flex {
  margin-top: 7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.index-tjenester-logo-single {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 25%;
  text-align: center;
}

.index-tjenester-logo-img img {
  max-width: 50%;
  padding: 1.5rem;
  overflow: visible;
  background-color: #fff8f1;
  border-radius: 50%;
  filter: drop-shadow(0 0.7rem 0.25rem grey);
}

.index-tjenester-logo-heading {
  font-size: 1.5rem;
  font-weight: bold;
  margin: -1rem 0 -2rem;
}

.index-tjenester-logo-text {
  font-size: 1.2rem;
  max-width: 70%;
  color: #333333;
  font-weight: 300;
}

/* ----------------------Succes historier------------------------ */
.index-succes-stories-backimg {
  background-image: url(../Images/cdc-SAwxJ8PHY3Q-unsplash.jpg);
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 10rem 0 -15rem 0;
  filter: blur(2px) brightness(55%);
  background-position: 0 -180px;
}

.index-succes-stories-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  background-image: url();
  position: relative;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  text-align: center;
  color: white;
}

.index-succes-stories-content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.index-succes-stories-content h3 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.index-succes-stories-text {
  width: 60%;
}

.index-succes-stories-content img {
  width: 80px;
  border-radius: 50%;
}

/* ----------------------Index Find bedste ven------------------- */
.index-find-ven-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
}

.index-find-ven h2 {
  text-align: center;
  font-size: 3rem;
}

.index-find-ven-button button {
  margin: 2rem 0 5rem 0;
  background-color: #5c5351;
  color: #fff8f1;
  padding: 0.5% 3%;
  font-size: 1.75rem;
  font-weight: 600;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
}

.index-find-ven-card {
  background-color: #5c5351;
  padding: 0 0.5rem;
  color: #fff8f1;
  border-radius: 15px;
}

.index-find-ven-card h3 {
  font-size: 2rem;
  margin: 0.8rem 0 -0.5rem 0;
}

.index-find-ven-card img {
  max-width: 100%;
  margin-top: 0.5rem;
  border-radius: 15px;
}

.index-find-ven-card button {
  background-color: #fff8f1;
  color: #333333;
  font-size: 1.1rem;
  font-weight: 500;
  padding: 2.5% 10%;
  position: relative;
  transform: translateX(75%);
  border-radius: 15px;
  margin-bottom: 1rem;
}

.index-find-ven-card-info-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 90%;
  column-gap: 1rem;
  row-gap: -0.5rem;
}

.index-find-ven-card-info {
  display: flex;
  flex-direction: column;
}

/* .index-find-ven-card-info {
    max-width: 150px;
  } */
/* ----------------------Index Eksperternes hjørne--------------- */
.index-ekperternes-hjørne {
  text-align: center;
}

.index-top-title h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.index-top-title p {
  font-size: 1.2rem;
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4rem;
}

.index-ekperternes-hjørne-box {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: space-between;
  text-align: left;
  gap: 1rem;
}

.index-ekperternes-hjørne-left {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: left;
  max-width: 70%;
}

.index-eksperternes-hjørne-left-brown {
  background-color: #5c5351;
  color: #fff8f1;
  border-radius: 15px;
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  filter: drop-shadow(0 0.4rem 0.35rem grey);
}

.index-eksperternes-hjørne-left-white {
  background-color: #fff8f1;
  color: #5c5351;
  border-radius: 15px;
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  filter: drop-shadow(0 0.4rem 0.35rem grey);
}

.index-eksperternes-hjørne-right-brown {
  background-color: #5c5351;
  color: #fff8f1;
  border-radius: 15px;
  padding: 0.5rem;
  filter: drop-shadow(0 0.4rem 0.35rem grey);
}

.white-background {
  background-color: #fff8f1;
  color: #5c5351;
  border-radius: 15px;
  padding: 1rem;
}

.index-eksperternes-hjørne-left-content img {
  max-width: 25%;
}

.index-eksperternes-hjørne-right-content img {
  max-width: 90%;
  margin-right: auto;
  margin-left: auto;
}

.index-eksperternes-hjørne-top {
  display: flex;
  flex-direction: row;
}

.index-eksperternes-hjørne-heading {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.index-eksperternes-hjørne-left-content h3 {
  margin: 0 0 0 1rem;
  font-size: 2rem;
  font-weight: 600;
}

.index-eksperternes-hjørne-left-content p {
  max-width: 80%;
  font-size: 1.2rem;
  font-weight: lighter;
  margin: 0.2rem 0 0.2rem 1rem;
}

.index-eksperternes-hjørne-left-content span {
  margin: 0.2rem 0 0.2rem 1rem;
  font-weight: 800;
}

.index-eksperternes-hjørne-right {
  width: 40%;
}

.index-eksperternes-hjørne-right-content h3 {
  margin: 10px -20px -10px 18px;
  font-size: 1.5rem;
  font-weight: 600;
}

.index-eksperternes-hjørne-right-content p {
  margin: 16px -20px 10px 18px;
  /* font-size: 1.2rem; */
  max-width: 90%;
}

.index-eksperternes-hjørne-right .index-eksperternes-hjørne-content-info {
  margin: 13px 0px -14px 18px;
  font-weight: 600;
}

.index-eksperternes-hjørne-content-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.info-divider {
  height: 10px;
  width: 2px;
  background-color: grey;
}

.index-eksperternes-hjørne-button {
  margin: 3rem 0rem 6rem 0;
  padding: 1% 2%;
  background-color: #5c5351;
  color: #fff8f1;
  font-size: 1.5rem;
  font-weight: 600;
  border-radius: 15px;
}

.page_banner_about {
  padding: 60px;
  text-align: center;
  background-image: url(/assets/img/Promotion-Page_Banner-Desktop_Evergreen.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: white;
  font-size: 30px;
  height: 957px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-row-start: 1;
  grid-row-end: 1;
}
.page_banner_about h1 {
  color: white;
  text-align: center;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Merriweather", serif;
}
.page_banner_about p {
  text-align: center;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: "Raleway", sans-serif;
}

.hvem_container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-row-start: 2;
  grid-row-end: 2;
  margin: 1% 1% 1% 1%;
}
.hvem_container img {
  width: 70%;
  grid-column-start: 2;
  grid-column-end: 3;
  border-radius: 2.5%;
  margin-left: 25%;
}
.hvem_container article {
  grid-column-start: 3;
  grid-column-end: 4;
  width: 500px;
}
.hvem_container article h2 {
  font-family: "Merriweather", serif;
}
.hvem_container article p {
  font-family: "Raleway", sans-serif;
}

.engegement_container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-row-start: 3;
  grid-row-end: 3;
  background-image: url(/assets/img/pexels-phil-kallahar-983200.png);
  color: white;
  margin-top: 1%;
  margin-bottom: 1%;
  height: 800px;
  position: relative;
}
.engegement_container .infocol {
  grid-column-start: 1;
  grid-column-end: 1;
  width: 700px;
  margin-left: 10%;
  margin-top: 10%;
}
.engegement_container .infocol h2 {
  font-family: "Merriweather", serif;
}
.engegement_container .infocol p {
  font-family: "Raleway", sans-serif;
}
.engegement_container .imgcol {
  grid-column-start: 4;
  grid-column-end: 4;
}
.engegement_container .pet_1 {
  color: azure;
  width: 300px;
  height: 210px;
  border-radius: 3%;
  position: absolute;
  top: 30%;
  left: 70%;
  transform: translate(-60%, -60%);
}
.engegement_container .pet_2 {
  color: azure;
  width: 300px;
  height: 210px;
  border-radius: 3%;
  position: absolute;
  top: 45%;
  left: 80%;
  transform: translate(-60%, -60%);
}
.engegement_container .pet_3 {
  color: azure;
  width: 300px;
  height: 210px;
  border-radius: 3%;
  position: absolute;
  top: 60%;
  left: 70%;
  transform: translate(-60%, -60%);
}

.team_container {
  color: black;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-row-start: 4;
  grid-row-end: 4;
  padding: 1%;
}
.team_container h2 {
  text-align: center;
  grid-column-start: 2;
  grid-column-end: 3;
  font-family: "Merriweather", serif;
}
.team_container .art1 {
  grid-column-start: 1;
  grid-column-end: 1;
  width: 400px;
  background-color: #333333;
  color: white;
  padding-bottom: 1%;
  padding-left: 1%;
  padding-right: 1%;
  border-radius: 3%;
}
.team_container .art1 img {
  width: 400px;
}
.team_container .art1 h3 {
  font-family: "Merriweather", serif;
  text-align: center;
}
.team_container .art1 p {
  font-family: "Raleway", sans-serif;
}

.reviews_container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-row-start: 5;
  grid-row-end: 5;
  background-image: url(/assets/img/Promotion-Page_Banner-Desktop_Evergreen.png);
  color: white;
  height: 500px;
}
.reviews_container h2 {
  grid-column-start: 2;
  grid-column-end: 3;
  text-align: center;
  font-family: "Merriweather", serif;
}
.reviews_container p {
  grid-column-start: 2;
  grid-column-end: 3;
  text-align: center;
  font-family: "Raleway", sans-serif;
}
.reviews_container img {
  grid-column-start: 2;
  grid-column-end: 2;
  border-radius: 50%;
  width: 90px;
  margin-left: 48%;
}
.reviews_container h3 {
  grid-column-start: 2;
  grid-column-end: 3;
  text-align: center;
  font-family: "Merriweather", serif;
}

.form_container_about {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-row-start: 6;
  grid-row-end: 6;
  color: white;
  background-image: url(/assets/img/pexels-phil-kallahar-983200.png);
  height: 800px;
}
.form_container_about .info_col {
  grid-column-start: 2;
  grid-column-end: 3;
  width: 600px;
}
.form_container_about .info_col h2 {
  font-family: "Merriweather", serif;
  font-size: 3rem;
}
.form_container_about .info_col h3 {
  font-family: "Merriweather", serif;
  font-size: 2rem;
}
.form_container_about .info_col ul {
  font-family: "Raleway", sans-serif;
  list-style: none;
}
.form_container_about .info_col p {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
}
.form_container_about .contact_col {
  margin-top: 10%;
  margin-bottom: 10%;
  grid-column-start: 4;
  grid-column-end: 3;
  background-color: white;
  width: 300px;
  height: 400px;
  padding: 10% 5% 10% 5%;
  border-radius: 3%;
}
.form_container_about .contact_col input {
  width: 95%;
  height: 10%;
  box-shadow: 1px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  font-family: "Raleway", sans-serif;
  text-align: center;
}
.form_container_about .contact_col textarea {
  width: 91%;
  height: 50%;
  padding: 5% 0% 0% 5%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  font-family: "Raleway", sans-serif;
}
.form_container_about .contact_col button {
  width: 100%;
  height: 15%;
  background-color: #5C5351;
  color: white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-size: 2rem;
  font-family: "Raleway", sans-serif;
}
.form_container_about .donate {
  background-image: url(/assets/img/donation-help-charity-750x350.jpg);
  border-radius: 25px 25px 0px 0px;
  position: fixed;
  left: 25%;
  bottom: -2%;
  text-align: center;
  height: 7%;
  width: 50%;
  font-family: "Merriweather", serif;
}
.form_container_about .donate li {
  margin-left: 1%;
  display: inline-block;
}
.form_container_about .donate button {
  padding: 20%;
  background-color: #5C5351;
  color: white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-size: 1rem;
  font-weight: bolder;
}

.page_banner_sevices {
  padding: 60px;
  text-align: center;
  background-image: url(/assets/img/Promotion-Page_Banner-Desktop_Evergreen.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: white;
  font-size: 30px;
  height: 957px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-row-start: 1;
  grid-row-end: 1;
}
.page_banner_sevices h1 {
  color: white;
  text-align: center;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Merriweather", serif;
}
.page_banner_sevices p {
  text-align: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: "Raleway", sans-serif;
}

.adoption_container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-row-start: 2;
  grid-row-end: 2;
  margin: 0% 0% 0% 0%;
  position: relative;
  height: 950px;
}
.adoption_container article {
  position: absolute;
  grid-column-start: 3;
  grid-column-end: 4;
  box-shadow: 10px 10px 5px;
  padding: 3%;
  width: 80%;
  height: 60%;
  border-radius: 3%;
  background-color: white;
  top: 75%;
  left: 50%;
  transform: translate(-60%, -60%);
  border-style: ridge none none ridge;
}
.adoption_container article h3 {
  font-size: 40px;
  font-family: "Merriweather", serif;
}
.adoption_container article p {
  font-family: "Raleway", sans-serif;
}
.adoption_container article button {
  margin: 2% 0% 0% 0%;
  padding: 2% 5% 2% 5%;
  border-radius: 8px;
  background-color: #5C5351;
  font-family: "Raleway", sans-serif;
  color: white;
}
.adoption_container img {
  position: absolute;
  background-color: black;
  border-radius: 2.5%;
  width: 60%;
  height: 80%;
  grid-column-start: 1;
  grid-column-end: 3;
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%);
}

.animal_container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-row-start: 2;
  grid-row-end: 2;
  margin: 2% 2% 0% 2%;
}
.animal_container h2 {
  grid-column-start: 2;
  grid-column-end: 2;
  font-family: "Merriweather", serif;
  font-size: xx-large;
}
.animal_container .post_animal1 {
  grid-column-start: 1;
  grid-column-end: 2;
  background-color: #333333;
  border-radius: 20px 20px 15px 15px;
  color: white;
  max-width: 475px;
  height: 750px;
  margin: 0% 0% 5% 0%;
}
.animal_container .post_animal1 img {
  border-radius: 20px 20px 0px 0px;
}
.animal_container .post_animal1 h3 {
  margin: 1% 0% 0% 5%;
  font-family: "Merriweather", serif;
}
.animal_container .post_animal1 p {
  margin: 1% 0% 0% 5%;
  font-family: "Raleway", sans-serif;
}
.animal_container .post_animal1 .icon_row {
  margin: 5% 0% 0% 5%;
}
.animal_container .post_animal1 .icon_row print {
  margin: 0% 10% 0% 10%;
}
.animal_container .post_animal1 button {
  margin: 1% 0% 0% 5%;
  padding: 3%;
  background-color: white;
  color: black;
  border-radius: 15px;
}
.animal_container .post_animal2 {
  grid-column-start: 2;
  grid-column-end: 2;
  background-color: #333333;
  border-radius: 20px 20px 15px 15px;
  color: white;
  max-width: 475px;
  height: 750px;
  margin: 0% 0% 5% 0%;
}
.animal_container .post_animal2 img {
  border-radius: 20px 20px 0px 0px;
}
.animal_container .post_animal2 h3 {
  margin: 1% 0% 0% 5%;
  font-family: "Merriweather", serif;
}
.animal_container .post_animal2 p {
  margin: 1% 0% 0% 5%;
  font-family: "Raleway", sans-serif;
}
.animal_container .post_animal2 .icon_row {
  margin: 5% 0% 0% 5%;
}
.animal_container .post_animal2 .icon_row print {
  margin: 0% 10% 0% 10%;
}
.animal_container .post_animal2 button {
  margin: 1% 0% 0% 5%;
  padding: 3%;
  background-color: white;
  color: black;
  border-radius: 15px;
}
.animal_container .post_animal3 {
  grid-column-start: 3;
  grid-column-end: 3;
  background-color: #333333;
  border-radius: 20px 20px 15px 15px;
  color: white;
  max-width: 475px;
  height: 750px;
  margin: 0% 0% 5% 0%;
}
.animal_container .post_animal3 img {
  border-radius: 20px 20px 0px 0px;
}
.animal_container .post_animal3 h3 {
  margin: 1% 0% 0% 5%;
  font-family: "Merriweather", serif;
}
.animal_container .post_animal3 p {
  margin: 1% 0% 0% 5%;
  font-family: "Raleway", sans-serif;
}
.animal_container .post_animal3 .icon_row {
  margin: 5% 0% 0% 5%;
}
.animal_container .post_animal3 .icon_row print {
  margin: 0% 10% 0% 10%;
}
.animal_container .post_animal3 button {
  margin: 1% 0% 0% 5%;
  padding: 3%;
  background-color: white;
  color: black;
  border-radius: 15px;
}

.pention_container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-row-start: 4;
  grid-row-end: 4;
  margin: 0% 0% 2% 0%;
  position: relative;
  height: 900px;
}
.pention_container article {
  position: absolute;
  grid-column-start: 3;
  grid-column-end: 4;
  box-shadow: 10px 10px 5px;
  padding: 3%;
  width: 80%;
  height: 560px;
  border-radius: 3%;
  background-color: white;
  top: 70%;
  left: -50%;
  transform: translate(-60%, -60%);
  border-style: ridge none none ridge;
}
.pention_container article h3 {
  font-size: 40px;
  font-family: "Merriweather", serif;
}
.pention_container article p {
  font-family: "Raleway", sans-serif;
}
.pention_container article button {
  margin: 0% 0% 0% 0%;
  padding: 2% 5% 2% 5%;
  border-radius: 8px;
  background-color: #5C5351;
  font-family: "Raleway", sans-serif;
  color: white;
}
.pention_container img {
  position: absolute;
  background-color: black;
  border-radius: 2.5%;
  width: 550px;
  height: 600px;
  grid-column-start: 1;
  grid-column-end: 3;
  top: 35%;
  left: 100%;
  transform: translate(-50%, -50%);
  margin-top: 5%;
}

.adfærd_container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-row-start: 5;
  grid-row-end: 5;
  margin: 0% 0% 5% 0%;
  position: relative;
  height: 950px;
}
.adfærd_container article {
  position: absolute;
  grid-column-start: 3;
  grid-column-end: 4;
  box-shadow: 10px 10px 5px;
  padding: 3%;
  width: 80%;
  height: 60%;
  border-radius: 3%;
  background-color: white;
  top: 75%;
  left: 50%;
  transform: translate(-60%, -60%);
  border-style: ridge none none ridge;
}
.adfærd_container article h3 {
  font-size: 40px;
  font-family: "Merriweather", serif;
}
.adfærd_container article p {
  font-family: "Raleway", sans-serif;
}
.adfærd_container article button {
  margin: 2% 0% 0% 0%;
  padding: 2% 5% 2% 5%;
  border-radius: 8px;
  background-color: #5C5351;
  font-family: "Raleway", sans-serif;
  color: white;
}
.adfærd_container img {
  position: absolute;
  background-color: black;
  border-radius: 2.5%;
  width: 60%;
  height: 80%;
  grid-column-start: 1;
  grid-column-end: 3;
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%);
}

.form_container_services {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-row-start: 6;
  grid-row-end: 6;
  color: white;
  background-image: url(/assets/img/pexels-phil-kallahar-983200.png);
  height: 800px;
}
.form_container_services .info_col {
  grid-column-start: 2;
  grid-column-end: 3;
  width: 600px;
}
.form_container_services .info_col h2 {
  font-family: "Merriweather", serif;
  font-size: 3rem;
}
.form_container_services .info_col h3 {
  font-family: "Merriweather", serif;
  font-size: 2rem;
}
.form_container_services .info_col ul {
  font-family: "Raleway", sans-serif;
  list-style: none;
}
.form_container_services .info_col p {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
}
.form_container_services .contact_col {
  margin-top: 10%;
  margin-bottom: 10%;
  grid-column-start: 4;
  grid-column-end: 3;
  background-color: white;
  width: 300px;
  height: 400px;
  padding: 10% 5% 10% 5%;
  border-radius: 3%;
}
.form_container_services .contact_col input {
  width: 95%;
  height: 10%;
  box-shadow: 1px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  font-family: "Raleway", sans-serif;
  text-align: center;
}
.form_container_services .contact_col textarea {
  width: 91%;
  height: 50%;
  padding: 5% 0% 0% 5%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  font-family: "Raleway", sans-serif;
}
.form_container_services .contact_col button {
  width: 100%;
  height: 15%;
  background-color: #5C5351;
  color: white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-size: 2rem;
  font-family: "Raleway", sans-serif;
}
.form_container_services .donate {
  background-image: url(/assets/img/donation-help-charity-750x350.jpg);
  border-radius: 25px 25px 0px 0px;
  position: fixed;
  left: 25%;
  bottom: -2%;
  text-align: center;
  height: 7%;
  width: 50%;
  font-family: "Merriweather", serif;
}
.form_container_services .donate li {
  margin-left: 1%;
  display: inline-block;
}
.form_container_services .donate button {
  padding: 20%;
  background-color: #5C5351;
  color: white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-size: 1rem;
  font-weight: bolder;
}

/* Hero anner style */
.hero-banner-eksperterne {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("Assets/images/walking-with-dog-in-the-forest.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  height: 100vh;
}

/* H1 style hero */
.hero-content-eksperterne h1 {
  font-size: 45px;
  font-weight: bold;
  margin: 0;
}

/* Paragraf style hero  */
.hero-content-eksperterne p {
  font-size: 20px;
  margin: 10px;
}

/* Hero Content styling */
.hero-content-eksperterne {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  text-align: center;
  padding: 20px;
  color: white;
}

/* style grid, content osv...*/
.indlæg {
  padding: 40px 0;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

.grid-item {
  background-color: #333333;
  padding: 10px;
  border-radius: 15px;
  color: #fff8f1;
}

.grid-item img {
  max-width: 100%;
  border-radius: 15px;
}

.grid-item h3 {
  margin-top: 10px;
}

.grid-item:nth-child(1) {
  grid-column: 2/span 2;
}

.grid-item:nth-child(2) {
  grid-column: 5/span 2;
}

.grid-item:nth-child(3) {
  grid-column: 8/span 2;
}

/* Hero anner style */
.hero-banner-kontakt {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("Assets/images/istockphoto-1250060339-612x612.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  height: 100vh;
  background-position: bottom center;
}

/* H1 style hero */
.hero-content-kontakt h1 {
  font-size: 45px;
  font-weight: bold;
  margin: 0;
}

/* Paragraf style hero  */
.hero-content-kontakt p {
  font-size: 20px;
  margin: 10px;
}

.hero-content-kontakt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  text-align: center;
  padding: 20px;
  color: white;
}

/* grid style*/
.information {
  padding: 40px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

.grid-item {
  padding: 10px;
  color: #5c5351;
}

.grid-item:nth-child(1) {
  grid-column: 2/span 2;
}

.grid-item:nth-child(2) {
  grid-column: 4/span 2;
}

.grid-item:nth-child(3) {
  grid-column: 6/span 2;
}

body {
  margin: 0%;
}

.main-margin {
  margin: 0 10rem;
}

.white-text {
  color: #ffffff;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333333;
}

header nav svg {
  width: 200px;
  height: 100px;
  margin-left: 4rem;
}

header nav .nav-links {
  display: flex;
  gap: 2rem;
  margin-right: 1.5rem;
  margin: 0 8rem;
}

header nav .nav-links li {
  list-style-type: none;
}

header nav .nav-links li a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 300;
  font-size: 1.5rem;
}

header nav .nav-links li a:hover {
  color: beige;
}

.center-content {
  display: flex;
  justify-content: center;
}

.footer-kontakt-box {
  background-image: url(../Images/PotteBaggrund.png);
}

.footer-kontakt-flex {
  /* margin-top: 12rem; */
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: space-between;
}

.footer-kontakt-left {
  max-width: 50%;
}

.footer-kontakt-flex p {
  margin: 0.25rem 0 0 0;
  max-width: 85%;
  padding-inline-start: 0.5rem;
  font-size: 1.2rem;
}

.footer-kontakt-flex h2 {
  margin: 2rem 0 0 0;
  max-width: 100%;
  font-size: 2.5rem;
}

.footer-kontakt-flex .åbningstider {
  margin: 2rem 0 0.2rem 0;
  max-width: 90%;
  font-size: 2.5rem;
}

.footer-kontakt-flex ol {
  margin-top: 0.5rem;
  padding-inline-start: 2rem;
}

.footer-kontakt-form {
  border-radius: 5px;
  max-width: 40%;
}

form {
  background-color: #fff8f1;
  margin: 3rem 0 5rem 0;
  max-height: 60%;
  max-width: 70%;
  padding: 1rem;
  border-radius: 0.75rem;
}

input[type=text] {
  width: 95%;
  padding: 5%;
  margin: 4% 3%;
  box-sizing: border-box;
  border: black;
  resize: vertical;
  border-radius: 1em;
  background-color: #fff8f1;
  filter: drop-shadow(0 0.4rem 0.35rem grey);
}

textarea {
  width: 95%;
  padding: 5%;
  margin: 4% 3%;
  background-color: #fff8f1;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
  height: 10em;
  border-radius: 1em;
  filter: drop-shadow(0 0.4rem 0.35rem grey);
}

input[type=submit] {
  width: 95%;
  padding: 2.5% 0;
  background-color: #5c5351;
  color: white;
  border: none;
  border-radius: 0.5rem;
  margin: 4% 3%;
  cursor: pointer;
  filter: drop-shadow(0 0.4rem 0.35rem grey);
}

input[type=submit]:hover {
  background-color: #8d7f7c;
}

.doner-banner {
  background-image: url(../Images//caucasian-woman-with-closed-eyes-2560159.jpg);
  height: 12rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 -100px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  font-size: 2rem;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  /* filter: blur(4px); */
  filter: grayscale(30%);
  border-radius: 10px 10px 0 0;
}

.doner-banner button {
  max-height: 40%;
  height: 25%;
  width: 15%;
  background-color: #5c5351;
  color: #fff8f1;
  font-size: 2rem;
  font-weight: bold;
  border-radius: 15px;
  border: none;
}

footer {
  height: 22rem;
  background-color: #333333;
  font-size: 1.2rem;
  max-width: 100vw;
}

footer h2 {
  font-size: 2rem;
  font-weight: 900;
}

.footer-grid {
  display: grid;
  grid-template-columns: 35% 1fr 1fr;
  align-items: center;
  justify-items: center;
  max-height: 25rem;
}

footer ul {
  padding-inline-start: 0;
}

footer li {
  display: block;
  list-style-type: none;
  margin-top: 0.6rem;
}

footer h2 {
  display: flex;
  align-items: center;
  color: #ddd;
}

.footer-list-style {
  margin-top: 0.95rem;
}

footer a {
  text-decoration: none;
  color: #ddd;
}

footer img {
  height: auto;
  width: 18rem;
  margin-left: 7rem;
  margin-top: 2.5rem;
}

.footer-sections {
  margin-top: 2rem;
  max-height: 12rem;
  margin-left: -10rem;
}

.opening-hours-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  margin-top: -2rem;
  max-height: 12rem;
  color: #ddd;
}

.contact-info-footer {
  color: #ddd;
}

.footer-logo-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 2rem;
}

.footer-logo svg {
  height: 200px;
  margin-top: 2rem;
}

.menu-section-footer {
  margin-top: 2rem;
  max-height: 12rem;
}/*# sourceMappingURL=style.css.map */